.third-page {
  position: absolute;
  top: 110vh; /* Adjusted to make the gap smaller */
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("pexels-pixabay-259588.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* This ensures content is aligned at the bottom */
  align-items: center;
  padding: 20px;
  position: relative; /* Needed for absolute positioning of h1 */
}

.third-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centers the text inside */
  width: 100%;
}

.third-headline h1 {
  position: absolute; /* Position the h1 at the top left */
  top: 20px; /* Distance from the top */
  left: 20px; /* Distance from the left */
  color: #ffffff;
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 30px; /* Increased font size for readability */
  z-index: 2;
}

.third-headline h2 {
  color: #ffffff;
    padding: 10px 27px;
    margin-bottom: 0px;
    width: 90vw;
    max-width: 95vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    background-color: rgba(251, 248, 248, 0.216);
    transition: transform 0.3s ease;
    font-size: 11px;
    margin-top: 0;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.purchase-btn {
  background-color: white;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  display: inline-flex;
  justify-items: center;
  position: absolute; /* Ensure the button is positioned absolutely */
  bottom: 20px; /* Position the button 20px from the bottom */
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%); /* Align the button in the exact center */
  z-index: 3; /* Ensure the button is above other elements */
  padding: 12px 20px; /* Adjust button size if needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for styling */
}
